h1{
    margin-left: 34%;
    
    color: blueviolet;
}


 input[type=text] ,input[type=number],textarea{
	width: 60%;
    padding: 12px 20px;
    margin: 8px 0 0 210px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

 }
 input[type=submit] {
	background-color: #1b1f89c7;
    font-size: 15px;
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 39%;
    padding: 16px 32px;
    text-decoration: none;
    /* margin: 4px 2px; */
    cursor: pointer;
 }
 .flex-box{
    height: 600px;
    overflow-y: scroll;
    border: 5px solid blueviolet;
    border-radius: 12px;
    margin-left: 10%;
    padding-left: 2%;
    width: 75%;
    margin-top: 2%;


    
}
.box-1{
    border: 0px solid;
    padding-left: 3%;
    box-shadow: 3px 3px 5px 6px #081b525e;
    width: 40%;
    height: 220px;
    margin-bottom: 20px;
    margin-left: 20%;
    
    font-family: fantasy;
    border-radius: 15px;
    
}
h3{
    font-size: 32px;
    padding-left: 35%;
    color: blueviolet;
}
h2{
    color:blue;
}
.emp-info{
    font-weight: 600;
}
span{
    font-weight: 500;
    color: #053565;
}